.user-dashboard {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.user-dashboard .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-color);
  height: 50px;
  padding: 5px 10px;
}
.user-dashboard .nav .restaurant {
  display: flex;
}
.user-dashboard .nav .restaurant .logo img {
  max-width: 35px;
}

.user-dashboard .nav .restaurant .res_name {
  margin-left: 10px;
  font-size: 20px;
  color: white;
}
.user-dashboard .orders {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  background-color: #cbcbcb;
}
.user-dashboard .orders h2 {
  margin: 10px;
  font-size: 30px;
}
.user-dashboard .orders .order {
  padding: 10px;
  width: -webkit-fill-available;
  border-bottom: 1px solid #d9d9d9;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.user-dashboard .orders .order:first-of-type {
  border-top: 1px solid #d9d9d9;
}
.user-dashboard .orders .order .username {
  text-align: right;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
}
.user-dashboard .orders .order .content {
  text-align: right;
  padding-bottom: 10px;
}
.user-dashboard .orders .order button {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  font-weight: bold;
  font-size: 15px;
}
